/pythonProject/
/.vs/
/.vs/slnx.sqlite
/obj/x86/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/x86/Release/PyQSOFit_SBLg.csproj.AssemblyReference.cache
/.vs/
/.idea/
/.vs/VSWorkspaceState.json
/.vs/PyQSOFit_SBLg.csproj.dtbcache.json
