/pythonProject/
/.vs/PyQSOFit_GUI/FileContentIndex/9f1380c5-2a78-4636-912c-31b42c125518.vsidx
/.vs/PyQSOFit_GUI/FileContentIndex/a636240f-2ca4-4421-89b8-c71ab72bcd60.vsidx
/.vs/PyQSOFit_GUI/FileContentIndex/e72ad1a5-39c2-4d0e-bcca-d011f7c3af49.vsidx
/.vs/PyQSOFit_GUI/FileContentIndex/fe2d9a47-1c5e-4a08-8025-013a499279c3.vsidx
/.vs/PyQSOFit_GUI/v17/.wsuo
/.vs/PyQSOFit_GUI/v17/DocumentLayout.json
/.vs/slnx.sqlite
/obj/x86/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/x86/Release/PyQSOFit_SBLg.csproj.AssemblyReference.cache
/.vs/PyQSOFit_GUI/FileContentIndex/5678c1a9-6e6c-42ae-9ced-0ff9ffb92203.vsidx
/.vs/PyQSOFit_GUI/FileContentIndex/cff6913a-3d2d-4211-a0af-15805bb297a8.vsidx
/.idea/misc.xml
/.idea/workspace.xml
/.vs/PyQSOFit_SBLg/FileContentIndex/1715d4de-8fcd-44a9-9c90-5ac4fe7ff673.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/6385558c-6675-4bd6-9548-9d33297f1f72.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/79d8c309-abe0-4611-b040-21dc81246f28.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/83e0fcde-abaa-4e3d-b166-2873584ae45d.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/8982055f-371f-4bcc-9d93-923fdb4c6484.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/a97980fe-0b72-4a97-a469-a443a44e99d0.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/c1077f02-dba8-4e9d-9781-0b982d20dbb8.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/c1118d1c-7e09-4776-b5c1-7741e65b242d.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/dc2f9b12-f4b7-486f-87ce-8904e25e3151.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex/f5fa2ebb-d43e-4e6b-a5d2-9ce3637d6530.vsidx
/.vs/PyQSOFit_SBLg/FileContentIndex
/PyQSOFit/__pycache__/Components.cpython-312.pyc
/PyQSOFit/__pycache__/Continuum.cpython-312.pyc
/PyQSOFit/__pycache__/Lines.cpython-312.pyc
/PyQSOFit/__pycache__/PyQSOFit_SVL.cpython-312.pyc
/Spectra_handling/__pycache__/AllSpectrum.cpython-312.pyc
/Spectra_handling/__pycache__/Spectrum_utls.cpython-312.pyc
/__pycache__/Component_definitions.cpython-312.pyc
/__pycache__/coord_format.cpython-312.pyc
/__pycache__/date_format.cpython-312.pyc
/__pycache__/rebin_spec.cpython-312.pyc
/__pycache__/Xml_to_Components.cpython-312.pyc
